<!DOCTYPE html>
<html>
<body>
<script>
document.write("<h1>This is a heading</h1>");
function jump(){
//  window.location.href="http://127.0.0.1:8080/btnGet";
// window.location.href="http://127.0.0.1:8080/btnGet";
document.write("<h1>BBBB</h1>");

// var url = 'http://127.0.0.1:8080/btnGet/';
// var int8View = new window.Uint8Array("http://127.0.0.1:8080//btnGet/");
// var xhr = new XMLHttpRequest();
// xhr.open('POST', url, true);
// xhr.send(int8View);
// function jump2(){window.location.href="client://open_1v1replay?param=aaa"}
//window.location.href="http://127.0.0.1:8080//btnGet";
//window.location.href="client://open_1v1replay?param=aaa";
//window.location.href="aftstudent://open_1v1replay?param=aaa";

// window.location.href="client://btnGet";


// window.location.href="aftstudentAAA://open_1v1replay?param=aaa";
// window.location.href="aftstudentAAA://open-browser?param=aaa";


}
function jump2(a){
//  window.location.href="http://127.0.0.1:8080/btnGet";
    document.write("<h2>CCCCCCCC</h2>");
    document.write(a);
    document.write("<h2>DDDDDDDD</h2>");
   
}
function jump3(){
    window.location.href="http://127.0.0.1:80/btnGet2"
    // window.location.href="getbtn://push_exam_url_msg";
    
    // window.location.href="getbtn://btnGet2/?param=aaa";
    // window.location.href="http://127.0.0.1/btnGet2";
    //window.location.href="client://btnGet2";
}
</script>
<input type="button" value="我是一个按钮" onclick=javascrtpt:jump()>
<input type="button" value="点击回调C++按钮" onclick=javascrtpt:jump3()>
<br />
<br />
<form id="user" method="post">
    名字：<input name="username" type="text" />
    称谓：<input name="id" type="text" />
    昵称：<input name="id1" type="text" />
    <input type="submit" value="提交" />
</form>

</body>
</html>





