<!DOCTYPE html>
<html>
<body>
<script>
document.write("<h1>This is a heading</h1>");
function jump(){
//  window.location.href="http://127.0.0.1:8080/btnGet";
// window.location.href="http://127.0.0.1:8080/btnGet";
document.write("<h1>BBBB</h1>");

// var url = 'http://127.0.0.1:8080/btnGet/';
// var int8View = new window.Uint8Array("http://127.0.0.1:8080//btnGet/");
// var xhr = new XMLHttpRequest();
// xhr.open('POST', url, true);
// xhr.send(int8View);
// function jump2(){window.location.href="client://open_1v1replay?param=aaa"}
//window.location.href="http://127.0.0.1:8080//btnGet";
//window.location.href="client://open_1v1replay?param=aaa";
//window.location.href="aftstudent://open_1v1replay?param=aaa";

// window.location.href="client://btnGet";


// window.location.href="aftstudentAAA://open_1v1replay?param=aaa";
// window.location.href="aftstudentAAA://open-browser?param=aaa";


}
function jump2(a){
//  window.location.href="http://127.0.0.1:8080/btnGet";
// window.location.href="http://127.0.0.1:8080/btnGet";
    document.write("<h1>CCCCCCCC</h1>");
    document.write(a);
    document.write("<h1>DDDDDDDDD</h1>");

}
</script>
<input type="button" value="我是一个按钮" onclick=javascrtpt:jump()>
</body>
</html>





