<!DOCTYPE html>
<html>
<body>
<script>
document.write("<h1>This is a heading</h1>");
function jump(){
//  window.location.href="http://127.0.0.1:8080/btnGet";
// window.location.href="http://127.0.0.1:8080/btnGet";
document.write("<h1>BBBB</h1>");

// var url = 'http://127.0.0.1:8080/btnGet/';
// var int8View = new window.Uint8Array("http://127.0.0.1:8080//btnGet/");
// var xhr = new XMLHttpRequest();
// xhr.open('POST', url, true);
// xhr.send(int8View);
// function jump2(){window.location.href="client://open_1v1replay?param=aaa"}
//window.location.href="http://127.0.0.1:8080//btnGet";
//window.location.href="client://open_1v1replay?param=aaa";
//window.location.href="aftstudent://open_1v1replay?param=aaa";

// window.location.href="client://btnGet";


// window.location.href="aftstudentAAA://open_1v1replay?param=aaa";
// window.location.href="aftstudentAAA://open-browser?param=aaa";


}
function jump2(a){
//  window.location.href="http://127.0.0.1:8080/btnGet";
    document.write("<h2>CCCCCCCC</h2>");
    document.write(a);
    document.write("<h2>DDDDDDDD</h2>");
   
}
function jump3(){
//     var iframe = document.createElement('iframe');
//   iframe.setAttribute('src', 'client://aft_report_practice_choosing_answers?param=%7B%22question_id%22%3A%2221024280%22%2C%22selected%22%3A%22B%22%7D');
//   document.body.appendChild(iframe);
//   iframe.parentNode.removeChild(iframe);
//   iframe = null;

    // var httpRequest = new XMLHttpRequest();//第一步：建立所需的对象
    //     httpRequest.open('GET', 'client://aft_report_practice_choosing_answers?param=%7B%22question_id%22%3A%2221024280%22%2C%22selected%22%3A%22B%22%7D', true);//第二步：打开连接  将请求参数写在url中  ps:"./Ptest.php?name=test&nameone=testone"
    //     httpRequest.send();//第三步：发送请求  将请求参数写在URL中
        /**
         * 获取数据后的处理程序
         */
        // httpRequest.onreadystatechange = function () {
        //     if (httpRequest.readyState == 4 && httpRequest.status == 200) {
        //         var json = httpRequest.responseText;//获取到json字符串，还需解析
        //         console.log(json);
        //     }
        // };
     //window.location.href="client://push_exam_url_msg?param=aaa"
      // window.location.href="client://push_report_msg?param=aaa"
      //window.location.href="client://aft_report_practice_choosing_answers?param=%7B%22question_id%22%3A%22140464151%22%2C%22selected%22%3A%22C%22%7D"
      
    // window.location.href="getbtn://push_exam_url_msg?param=www.baidu.com"
    // window.location.href="http://127.0.0.1:80/btnGet2"
    // window.location.href="getbtn://push_exam_url_msg";
    
    // window.location.href="getbtn://btnGet2/?param=aaa";
    // window.location.href="http://127.0.0.1/btnGet2";
    //window.location.href="client://btnGet2";
}
</script>
<input type="button" value="我是一个按钮" onclick=javascrtpt:jump()>
<input type="button" value="点击回调C++按钮" onclick=javascrtpt:jump3()>
<br />
<br />
<form id="user" method="post">
    名字：<input name="username" type="text" />
    称谓：<input name="id" type="text" />
    昵称：<input name="id1" type="text" />
    <input type="submit" value="提交" />
</form>

</body>
</html>





