<!DOCTYPE html><html><head>
    <title>我的课程</title>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="//static.aft1v1.com/web-development/fudao/pc/170710/static/css/public-6d90a4a973.css">
    <link rel="stylesheet" href="//static.aft1v1.com/web-development/fudao/pc/170710/static/css/my-course-abd5fc8b7b.css">
</head>



<script>
//    function jump2(){window.location.href="getbtn://open-getbtn?param=www.baidu.com"
function jump2(){
    window.location.href="open-getbtn?param=www.baidu.com"
   
  // function jump2(){window.location.href="aftstudent://open_1v1course?param=www.baidu.com"}

  }
  function testfunc(){
    window.location.href="open-getbtn?param=www.baidu.com"
   
  // function jump2(){window.location.href="aftstudent://open_1v1course?param=www.baidu.com"}

  }
  
    </script>

<body>
<div id="my-course">
    <div id="layout-hd">
        <div class="tab-triggers">
            <ul class="clearfix">
                <li class="selected">已上课程</li>
            </ul>
        </div>
    </div>
    <div id="layout-bd" class="with-bg" style="display: block;">
        <div class="tab-panels">
            <div class="tab-panel panel-finished" style="display: block;">
                <table class="data-table">
                    <tbody>
                         <tr data-course-id="6SaCxVGf9Rb" data-tutor-record-id="67824070">
                            <td>
                                <p class="date">2018.11.01 周四</p>
                                <p class="time">13:45-14:30</p>
                                <div class="teacher">
                                    <span class="avatar"><img src="https://static.afanti100.com/backend/default/default_head.png" alt=""></span>
                                    <em class="name">初中数学20</em>
                                </div>
                            </td>
                            <td>
                                <h4 class="title"> </h4>
                                <div class="description">
                                    <p></p>
                                </div>
                            </td>
                            <td>
                                <a class="btn btn-playback" onclick=javascrtpt:jump2() >回放</a>
                                <!-- //href="javascript:void(0)" -->
                            </td>
                        </tr>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- <script src="//static.aft1v1.com/web/common/js/bluebird-3.4.5.min.js"></script>
<script src="//static.aft1v1.com/web/common/js/jquery-3.1.1.min.js"></script>
<script src="//static.aft1v1.com/web-development/fudao/pc/170710/static/js/public-d75a7931e4.js"></script><div id="widget" onclick="window.location.reload(true);"></div><style>#widget{ position: fixed;top: 0;right: 0;width: 20px;height: 20px;background-color: rgba(0,0,0,.7); }</style>
<script src="//static.aft1v1.com/web-development/fudao/pc/170710/static/js/my-course-398b57c192.js"></script> -->

</body></html>