<!DOCTYPE html>
<html lang="en">
<head>
    <title>做题页面</title>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <!-- <link rel="stylesheet" href="static/css/public.css"/>
    <link rel="stylesheet" href="static/css/exam.css"/> -->
	<script>
function aftPracticeInit(data) {
    // alert("ready go");
//   if (!data) return
//   return getData(data).then(function () {
//     setOptionIndex()
//     // 修正题干选项图片过大
//     imgPx2Rem(".question .title")
//     imgPx2Rem(".question .option")
//     if (!aft_practice.show_answer) {
//       setOptionsClickEvent()
//     }else {
//       imgPx2Rem(".analysis .analysis-desc")
//     }
//     $("body").show()
//   })
}

	function jump3(){
		
		alert("ready go");
	}
	</script>
</head>
<body>
<div id="exam">
    <div class="question">
        <div class="title">
        </div>
        <div class="option">
            <a class="test">test</a>
        </div>
    </div>
    <div class="analysis">
        <p>
            正确答案:
            <span class="correct-answer">
<input type="button" value="开始游戏" onclick="attackEnemy()"/>
            </span>
            我的答案:
            <span class="my-answer"></span></p>
        <p class="analysis-title_p analysis-title-icon1">参考解析</p>
        <div class="analysis-desc">

        </div>
        <p class="analysis-title_p analysis-title-icon2">相关知识点</p>
        <div class="knowledge-point">

        </div>
    </div>
</div>
<!-- <script src="//static.aft1v1.com/web/common/js/bluebird-3.4.5.min.js"></script>
<script src="//static.aft1v1.com/web/common/js/jquery-3.1.1.min.js"></script>
<script src="static/js/public.js"></script>
<script src="static/js/exam.js"></script> -->
<script src="static/js/exam1.js"></script> 
</body>
</html>