
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="//static.aft1v1.com/web/fudao/m/170718/static/css/public-f026e86e7b.css">
    <link rel="stylesheet" href="https://static.afanti100.com/search/static/dist/app/style/search_result/search_result.min.css?v=0225">
    <link rel="stylesheet" href="//static.aft1v1.com/web/fudao/m/170718/static/css/exam-2fdf88bc32.css"> 
    <script src="//static.aft1v1.com/web/fudao/m/170718/static/js/header-2a6c55b549.js"></script>
    
    
    
    
</head>
<body>

<div id="exam">
    <div class="question">
        <div class="title">
        </div>
        <div class="option">

        </div>
    </div>
    <div class="analysis">
        <p>
            正确答案:
            <span class="correct-answer">

            </span>
            我的答案:
            <span class="my-answer"></span></p>
        <p class="analysis-title_p analysis-title-icon1">参考解析</p>
        <div class="analysis-desc">

        </div>
        <p class="analysis-title_p analysis-title-icon2">相关知识点</p>
        <div class="knowledge-point">

        </div>
    </div>
</div>

<script src="//static.aft1v1.com/web/common/js/bluebird-3.4.5.min.js"></script>
<script src="//static.aft1v1.com/web/common/js/jquery-3.1.1.min.js"></script>
<script src="//static.aft1v1.com/web/common/js/aft-ua-1.0.0.js"></script>
<script src="//static.aft1v1.com/web/common/js/aft-pad-1.0.0.js"></script>
<script src="//static.aft1v1.com/web/fudao/m/170718/static/js/bridge-93515074a0.js"></script>
<script src="//static.aft1v1.com/web/fudao/m/170718/static/js/public-1cd06d6e42.js"></script>
<script src="//static.aft1v1.com/web/fudao/m/170718/static/js/exam-cd25465b9d.js"></script>
</body>
</html>